@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face{
	font-family:notosans;
	src:url('../include/NotoSansCJKkr-Regular.otf');
}


.sp5 { height:5px; clear:both; }
.sp10 { height:10px; clear:both; }
.sp12 { height:12px; clear:both; }
.sp15 { height:15px; clear:both; }
.sp20 { height:20px; clear:both; }
.sp25 { height:25px; clear:both; }
.sp30 { height:30px; clear:both; }
.sp35 { height:35px; clear:both; }
.sp40 { height:40px; clear:both; }
.sp45 { height:45px; clear:both; }
.sp50 { height:50px; clear:both; }
.sp55 { height:55px; clear:both; }
.sp60 { height:60px; clear:both; }
.sp65 { height:65px; clear:both; }
.sp70 { height:70px; clear:both; }
.sp75 { height:75px; clear:both; }
.sp80 { height:80px; clear:both; }
.sp90 { height:90px; clear:both; }
.sp100 { height:100px; clear:both; }
.sp150 { height:150px; clear:both; }
.sp160 { height:160px; clear:both; }
.sp165 { height:165px; clear:both; }
.sp200 { height:200px; clear:both; }

* { box-sizing:border-box; }
.r_b{background-color:#c00000;}


input, select{
	appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border:none;
	-webkit-border:none;
	-moz-border:none;
	padding:0 10px;
	-webkit-padding:0 10px;
	-moz-padding:0 10px;
}

select::-ms-expand { display: none; }
/*select {
	background-image:url('../img/arrow.png');
	background-repeat:no-repeat; 
	background-position:95% 50%;
	background-size:5% auto;
}*/

input:focus { outline: none; }
select:focus { outline: none; }

input[type="checkbox"] {
	appearance: checkbox;
	-webkit-appearance: checkbox;
	-moz-appearance: checkbox;
}


a { text-decoration:none; color:#212121;}

.clear { clear:both; }

.pc{display:block;}
.m{display:none;}

body{font-size:12px; font-family: 'Noto Sans CJK kr', sans-serif;}

#wrap { width:100%; height:100%; }

.wrap_back{background-color:#101216;}

.inner{
	width:1200px;
	margin:0 auto;
}

#m_header, #m_sub_header, .m_assets, .m_table, .m_sub01_box02_table, .m_banner, .chart_m, .m_f_logo{display:none;}

.c_o{color:#ff6600!important;}
.c_b{color:#00a2ff!important;}
.c_r{color:#e60000!important;}
.c_n{color:#0014d5!important;}
.c_y{color:#fdd000!important;}


/*top*/
.m_header{display:none;}

.header{
	width:100%;
	position:relative;
	height:55px;
	background:#ffffff;
	border-bottom:1px solid;
}

.header_top{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
	height:55px;
}

.logo{
	float:left;
    width: 110px;
    height: auto;
    margin-right: 110px;
    margin-top: 20px;
}

.nav li{
	float:left;
}

.nav li a{
	display: block;
    width: 120px;
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
    height: 60px;
    line-height: 60px;
    transition: all 0.4s;
}

.nav_btn{
	float:right;
}

.nav_btn a{
	float: left;
    line-height: 60px;
    text-align: center;
    font-size: 13px;
    color: #949494;
    margin-left: 30px;
}

.lnb{
	width:100%;
	position:absolute;
	display:none;
	z-index:9999;
	background: rgba(0, 0, 0, 0.8);
}

.lnb_inner{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	padding-top:15px;
	padding-bottom:15px;
}

.lnb_inner ul{
	float:left;
}

.lnb_inner ul:first-child{
	margin-left:220px;
}

.lnb_inner ul li{
	font-size:13px;
	width:120px;
	line-height:200%;
}

.lnb_inner ul li a{
	color:#ffffff;
}

/*footer*/
.footer{
    width: 100%;
    background: #313e46;
    margin-top: 40px;
    overflow: hidden;
    height: 210px;
}

.footer .inner{
    position: relative;
}

.fnb {
    float: left;
    margin-top: 45px;
}

.fnb li {
    float: left;
}

.fnb li a:first-child {
    padding: 0 40px 0 0;
}

.fnb li a {
    display: block;
    padding: 8px 10px;
    color: #dddddd;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    transition: all 0.4s;
}

.f_logo{
	margin-bottom:2%;
}

.copy {
    float: left;
    width: 100%;
    margin-top: 25px;
    color: #bdbdbd;
    font-size: 12px;
    line-height: 160%;
}

.f_text_wrap {
    position: absolute;
    top: 35px;
    right: 0;
    text-align: right;
    color: #ffffff;
}

.f_text01 {
    color: #ffffff;
    font-size: 16px;
}

.f_text01 span {
    font-size: 26px;
}

.f_text02 {
    font-size: 12px;
    color: #bdbdbd;
    line-height: 160%;
}

/*main*/
.heading-content{
	margin-bottom:60px;
	color:#414042;
	text-align:center;
}
.heading-content h3{
	font-weight: 700;
	font-size:36px;
}
.heading-content h5{
	font-family: 'latoregular';
	font-weight: normal;
	font-size:20px;
}
.content{
	width:1200px;
	margin:50px auto;
}
.content_main{
	width:1200px;
	margin:40px auto;
}
.content22{
	width:1200px;
	margin:15px auto 50px auto;
}

.content01{
	width:100%;
	margin-bottom:30px;
	overflow:hidden;
}

.notice{
	width:270px;
	height:210px;
	border:1px solid #ededed;
	border-radius:10px;
	float:right;
	padding:0 15px;
}

.notice_top{
	width:100%;
	border-bottom:1px solid #ececec;
	overflow:hidden;
}

.notice_title{
	width:40%;
	color:#004090;
	font-size:15px;
	font-weight:600;
	text-align:center;
	padding:15px 0 10px 0;
	border-bottom:2px solid #1c5fac;
	float:left;
}

.notice_more{
	float:right;
	padding-top:20px;
}

.notice_more a{
	color:#212121;
	font-size:11px;
}

.notice_text{
	color:#212121;
	font-size:12px;
	height:33px;
	line-height:33px;
	cursor:pointer;
}

.notice_text span{
	font-weight:bold;
}

.table{
	width:100%;
	height:360px;
}

.title{
	color:#212121;
	font-size:18px;
	font-weight:600;
	margin-bottom:10px;
}

.title span{
	color:#0d55a7;
}

.title_td00{
	width:25px;
	float:left;
}
.title_td01{
	width:140px;
	float:left;
}

.title_td02{
	width:170px;
	float:left;
}

.title_td03{
	width:215px;
	float:left;
}

.title_td04{
	width:155px;
	float:left;
}

.title_td05{
	width:200px;
	float:left;
}

.title_td06{
	width:160px;
	float:left;
}
.title_td07{
	width:25px;
	float:left;
}

.tr{
	width:100%;
	height:40px;
	border-bottom:1px solid #ececec;
}

.tr a{
	width:100%;
	height:40px;
	display:block;
	color:#212121;
	font-size:13px;
	line-height:40px;
}

.tr a:hover{
	background:rgba(248, 152, 29, 0.1);
}

.td00{
	width:25px;
	float:left;
	text-align:center;
}
.td01{
	width:140px;
	float:left;
	text-align:center;
}

.td02{
	width:170px;
	float:left;
	text-align:right;
	padding-right:45px;
	font-weight:600;
}

.td03{
	width:215px;
	float:left;
	text-align:right;
	padding-right:30px;
	font-weight:600;
}

.td04{
	width:155px;
	float:left;
	text-align:right;
	padding-right:30px;
	font-weight:600;
}

.td05{
	width:200px;
	float:left;
	text-align:right;
	padding-right:50px;
}

.td06{
	width:160px;
	float:left;
}
.td07{
	width:25px;
	float:left;
}

.td06_btn01{
	color:#eb0000;
	width:45px;
	height:25px;
	line-height:25px;
	text-align:center;
	border:1px solid #eb0000;
	border-radius:2px;
	margin:7px 10px;
	float:left;
}

.td06_btn02{
	color:#002ceb;
	width:45px;
	height:25px;
	line-height:25px;
	text-align:center;
	border:1px solid #002ceb;
	border-radius:2px;
	margin:7px 10px 7px 0;
	float:left;
}

.red{
 color:#eb0000;
}

.blue{
 color:#002ceb;
}

.box01{
	width:610px;
	float:left;
}

.box02{
	width:610px;
	float:left;
	margin-left:30px;
}

/*sub01_mostbuy*/
.side_nav{
	width:170px;
	float:left;
	background:#353b47;
	margin-right:30px;
}

.side_nav_btn{
	width:100%;
	border-bottom:1px solid #ffffff;
}

.side_nav_btn a{
	width:100%;
	height:50px;
	padding-left:15px;
	color:#ffffff;
	font-size:13.5px;
	line-height:50px;
	display:block;
	font-weight:300;
}

.side_nav_btn2 a{
	width:100%;
	height:50px;
	padding-left:15px;
	color:#ffffff;
	font-size:13.5px;
	line-height:50px;
	display:block;
	font-weight:300;
}
.side_nav_btn a:hover{
	background:#00bcd5;
	color:#ffffff;
}
.side_nav_btn2 a{
	background:#00bcd5;
	color:#ffffff;
}
.side_nav_btn01{
	width:100%;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
}

.side_nav_btn01:first-child{
	border-top:none;
}

.side_nav_btn01:last-child{
	border-bottom:none;
}

.side_nav_btn01 a{
	width:100%;
	height:50px;
	padding-left:15px;
	color:#ffffff;
	font-size:13.5px;
	line-height:50px;
	display:block;
	font-weight:300;
}

.side_nav_btn01 a:hover{
	background:#00bcd5;
	color:#ffffff;
}
.side_nav_btn02{
	width:100%;
}

.side_nav_btn02 a{
	width:100%;
	height:40px;
	padding-left:25px;
	color:#212121;
	font-size:13.5px;
	line-height:40px;
	display:block;
	background:#f8f8f8;
}

.side_nav_btn02 a:hover{
	text-decoration:underline;
}
.side_nav_btn02_un a{
	width:100%;
	height:40px;
	padding-left:25px;
	color:#212121;
	font-size:13.5px;
	line-height:40px;
	display:block;
	background:#f8f8f8;
	text-decoration:underline;
}
.sub_content{
	width:800px;
	float:left;
}

.box_wrap{
	float:left;
}

.sub01_box01{
	width:530px;
	margin-right:5px;
	float:left;
	border:1px solid #acacac;
}

.sub01_box01_btn{
	width:100%;
	overflow:hidden;
}

.sub01_box01_btn01{
	width:50%;
	height:45px;
	display:block;
	color:#ffffff;
	background:#ea5700;
	font-size:14px;
	line-height:45px;
	text-align:center;
	float:left;
}

.sub01_box01_btn01_buy{
	width:50%;
	height:35px;
	display:block;
	color:#ffffff;
	background:#ef7824;
	font-size:14px;
	line-height:35px;
	text-align:center;
	float:left;
}

.sub01_box01_btn02{
	width:50%;
	height:35px;
	display:block;
	color:#555555;
	font-size:14px;
	line-height:35px;
	text-align:center;
	float:left;
}

.sub01_box01_btn02:hover{
	color:#555555;
	background:#ececec;;
}

.sub01_box01_inner{
	padding:10px 15px;
}

.sub01_box01_box01{
	width:100%;
	overflow:hidden;
	margin-bottom:5px;
}

.sub01_box01_monney01{
	font-size:15px;
	float:left;
	color:#555555;
}

.sub01_box01_monney02{
	font-size:16px;
	float:right;
	font-weight:600;
	color:#555555;
}

.sub01_box01_monney03{
	font-size:16px;
	float:right;
	font-weight:600;
	color:#ff6c00;
	line-height:120%;
}

.sub01_box01_box02{
	width:100%;
	overflow:hidden;
	margin:5px 0;
	border-top:1px solid #ececec;
	padding-top:5px;
}

.sub01_box01_text{
	font-size:13px;
	font-weight:600;
	color:#555555;
	margin:0 0 10px 0;
}

.sub01_box01_buy{
	width:100%;
	overflow:hidden;
	border:1px solid #cccccc;
}

.sub01_box01_buy01{
	width:296px;
	height:30px;
	float:left;
	font-size:12px;
	border-right:1px solid #cccccc;
	color:#555555;
}

.sub01_box01_buy02{
	width:30px;
	height:30px;
	display:block;
	background:#efefef;
	line-height:30px;
	float:left;
	text-align:center;
	border-left:1px solid #cccccc;
	color:#212121;
}

.sub01_box01_buy03{
	width:30px;
	height:30px;
	display:block;
	background:#efefef;
	line-height:30px;
	float:left;
	text-align:center;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	color:#212121;
}

.sub01_box01_buy04{
	float:left;
	width:66px;
	height:30px;
	margin:0;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#555555;
}

.sub01_box01_buy05{
	width:50px;
	height:30px;
	background:#546dc5;
	color:#ffffff;
	display:block;
	float:left;
	text-align:center;
	line-height:30px;
}

.sub01_box01_buy05_buy{
	width:50px;
	height:30px;
	background:#ef7824;
	color:#ffffff;
	display:block;
	float:left;
	text-align:center;
	line-height:30px;
}

.sub01_box01_box03{
	width:100%;
	overflow:hidden;
	margin:10px 0;
}

.sub01_box01_text01{
	width:50px;
	height:30px;
	float:left;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#444444;
	background:#efefef;
	font-weight:600;
	border-right:1px solid #cccccc;
}

.sub01_box01_box04{
	width:100%;
	overflow:hidden;
	margin:10px 0 0 0;
	padding-bottom:35px;
	border-bottom:1px solid #ececec;
}
.sub01_box01_buy06{
	width:380px;
	height:30px;
	float:left;
	font-size:12px;
	color:#555555;
	border-right:1px solid #cccccc;
}

.sub01_box01_buy07{
	float:left;
	width:66px;
	height:30px;
	margin:0;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#555555;
	background:#efefef;
}

.sub01_box01_table{
	width:100%;
}

.sub01_box01_tr{
	height:30px;
	border-bottom:1px solid #ececec;
}

.sub01_box01_td01{
	font-size:13px;
	vertical-align:middle;
	text-align:left;
	color:#555555;
	font-weight:600;
}

.sub01_box01_td02{
	font-size:15px;
	vertical-align:middle;
	text-align:right;
	color:#555555;
	font-weight:600;
}

.sub01_box01_td02 span{
	font-size:13px;
	color:#555555;
	font-weight:500;
}

.sub01_box01_lastbtn{
	width:170px;
	height:45px;
	display:block;
	margin:10px auto 0 auto;
	color:#ffffff;
	background:#546dc5;
	font-size:15px;
	line-height:45px;
	text-align:center;
	border-radius:5px;
	letter-spacing:0.5px;
}

.sub01_box01_lastbtn_buy{
	width:170px;
	height:45px;
	display:block;
	margin:10px auto 0 auto;
	color:#ffffff;
	background:#ef7824;
	font-size:15px;
	line-height:45px;
	text-align:center;
	border-radius:5px;
	letter-spacing:0.5px;
}

.sub01_box02{
	width:380px;
	float:left;
}

.sub01_box02_title{
	font-size:15.5px;
	color:#212121;
	font-weight:600;
	text-align:center;
}

.sub01_box02_title01{
	font-size:15.5px;
	color:#212121;
	font-weight:600;
	text-align:center;
}

.sub01_box02_table{
	width:100%;
	margin-top:10px;
}

.sub01_box02_table01{
	width:100%;
	margin-top:10px;
}

.sub01_box02_tr01{
	height:45px;
	background:#546dc5;
}

.sub01_box02_tr01_buy{
	height:45px;
	background:#ef7824;
}

.sub01_box02_tr01_n{
	height:45px;
	border:1px solid #203670;
	background:#203670;
}

.sub01_box02_tr02{
	height:45px;
	border-bottom:1px solid #efefef;
}

.sub01_box02_tr02:hover{
	background-color:#f6f6f6;
}

.sub01_box02_tr02:nth-child(odd){
	background:#f1f6ff;
}

.sub01_box02_tr02:nth-child(odd):hover{
	background:#dee8fb;
}
.sub01_box02_tr02_li{
	height:45px;
/*	border-bottom:1px solid #efefef;*/
}

.sub01_box02_tr02_li:hover{
	background-color:#f6f6f6;
}

.sub01_box02_tr02_li:nth-child(odd){
	background:#f1f6ff;
}

.sub01_box02_tr02_li:nth-child(odd):hover{
	background:#dee8fb;
}


.sub01_box02_tr02_n{
	height:45px;
	border-bottom:1px solid #efefef;
}

.sub01_box02_tr02_n:hover{
	background-color:#f6f6f6;
}

.sub01_box02_tr02_n:nth-child(odd){
	background:#fef4ee;
}

.sub01_box02_tr02_n:nth-child(odd):hover{
	background:#fdebde;
}

.sub01_box02_tr02_n_li{
	height:45px;
/*	border-bottom:1px solid #efefef;*/
}

.sub01_box02_tr02_n_li:hover{
	background-color:#f6f6f6;
}

.sub01_box02_tr02_n_li:nth-child(odd){
	background:#fef4ee;
}

.sub01_box02_tr02_n_li:nth-child(odd):hover{
	background:#fdebde;
}

.sub01_box02_tr03{
	height:40px;
	border-bottom:1px solid #efefef;
	background:#f8f8f8;
}

.sub01_box02_td01{
	vertical-align:middle;
	text-align:center;
	font-size:14px;
	color:#ffffff;
}
.sub01_box02_td01_buy{
	vertical-align:middle;
	text-align:center;
	font-size:14px;
	color:#203670;
}
.sub01_box02_td01_sell{
	vertical-align:middle;
	text-align:center;
	font-size:13.5px;
	color:#0025c7;
}
.sub01_box02_td02{
	vertical-align:middle;
	text-align:center;
	font-size:13px;
	color:#0025c7;
}

.sub01_box02_td03{
	vertical-align:middle;
	text-align:center;
	font-size:13px;
	color:#d70000;
}

.sub01_box02_td04{
	vertical-align:middle;
	text-align:center;
	font-size:12px;
	color:#212121;
	width:10%;
}
.sub01_box02_td05{
	vertical-align:middle;
	text-align:center;
	font-size:12px;
	color:#333;
}


.sub01_box03_box{
	width:100%;
	margin-top:50px;
}

.sub01_box03_btn01{
	font-size:11px;
	color:#444444;
	background-color:#ffffff;
	border:1px solid #cccccc;
	cursor:pointer;
}

.sub01_box03_btn02{
	font-size:11px;
	color:#eb0000;
	background-color:#ffffff;
	border:1px solid #eb0000;
	cursor:pointer;
}

.sub01_box03_list{
	font-size:13px;
	text-align:center;
	margin-top:30px;
}

/*sub01_mostsell*/
.sub01_box01_btn03{
	width:50%;
	height:35px;
	display:block;
	color:#555555;
	font-size:14px;
	line-height:35px;
	text-align:center;
	float:left;
}

.sub01_box01_btn03:hover{
	color:#555555;
	background:#ececec;;
}

.sub01_box01_btn04{
	width:50%;
	height:35px;
	display:block;
	color:#ffffff;
	background:#546dc5;
	font-size:14px;
	line-height:35px;
	text-align:center;
	float:left;
}

/*sub01_sub01*/
.charge_title{
	text-align:center;
	font-size:20px;
	color:#444444;
	font-weight:600;
	padding:10px 0;
}

.charge_title01{
	text-align:center;
	font-size:13px;
	color:#666666;
}

.charge_text{
	text-align:center;
	font-size:16px;
	color:#444444;
	font-weight:600;
	padding:40px 0 20px 0;
}

.charge_table{
	width:100%;
	border:1px solid #ececec;
}

.charge_tr01{
	background:#edf2fa;
	height:45px;
	border:1px solid #ececec;
}

.charge_tr02{
	border:1px solid #ececec;
	height:45px;
}

.charge_td01{
	font-size:13px;
	color:#212121;
	vertical-align:middle;
	text-align:center;
	border:1px solid #cccccc;
}

.charge_td02{
	font-size:13px;
	color:#212121;
	vertical-align:middle;
	text-align:center;
	border:1px solid #ececec;
}

/*sub01_dealmost*/
.deal_btn{
	width:100%;
	overflow:hidden;
}
.deal_btn_m{
	display:none;
}
.deal_btn_01{
	background:#00bcd5;
	border-radius:5px;
	font-size:12.5px;
	color:#ffffff;
	display:block;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

.deal_btn_02{
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	font-size:12.5px;
	color:#000000;
	display:block;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

.deal_btn_03{
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	font-size:12.5px;
	color:#000000;
	display:block;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

/*sub01_sub02*/
.sub01_sub02_box01{
	width:390px;
	margin-right:20px;
	float:left;
}

.sub01_sub02_box02{
	width:390px;
	float:left;
}


/*sub02*/
.sub02_box01{
	width:320px;
	margin-left:20px;
	float:left;
}

.sub02_box02{
	width:320px;
	float:left;
}



/*sub03_krwdeposit*/
.deposit_monney_box{
	width:100%;
	padding:20px 0;
	background:#f9f9f9;
	border-radius:5px;
	border:1px solid #f2f2f2;
	margin-top:30px;
}

.deposit_monney{
	font-size:13px;
	color:#444444;
	line-height:200%;
	width:85%;
	margin:0 auto;
}

.deposit_monney span{
	color:#ff4e00;
	font-weight:600;
}

.deposit_text_box{
	width:100%;
	margin:0 auto;
}

.deposit_text{
	font-size:13px;
	color:#212121;
}

.deposit_text01{
	font-size:16px;
	color:#212121;
	margin-bottom:20px;
	padding:4px 0 5px 15px;
	border-left:3px solid #333333;
}

.deposit_text02{
	font-size:13px;
	color:#666666;
	line-height:180%;
	margin-bottom:15px;
}

.deposit_text02 span{
	color:#212121;
	font-weight:900;
}

.deposit_text03{
	font-size:13px;
	color:#212121;
	background-color: #fffae5;
	margin-bottom:15px;
	padding:10px 0 10px 15px;
	border:1px solid #ececec;
}

.deposit_text03 span{
	font-weight:900;
	line-height:180%;
}



.deposit_bnt01{
	width:180px;
	height:40px;
	background:#00bcd5;
	color:#ffffff;
	display:block;
	text-align:center;
	line-height:40px;
	float:left;
	margin:0 5px 40px 0;
	font-size:13px;
	border-radius:5px;
}

.deposit_table_box{
	width:100%;
	background:#edf2fa;
}

.deposit_table_btn01{
	display:block;
	width:50%;
	height:45px;
	color:#212121;
	font-size:14px;
	text-align:center;
	line-height:45px;
	border-bottom:2px solid #00a2ff;
	float:left;
}

.deposit_table_btn02{
	display:block;
	width:50%;
	height:45px;
	color:#999999;
	font-size:14px;
	text-align:center;
	line-height:45px;
	border-bottom:1px solid #ececec;
	float:left;
}

.bank_form{
	overflow:hidden;
}

.deposit_table{
	width:85%;
	margin:20px auto;
	border-bottom:1px solid #dddddd;
}

.deposit_td{
	font-size:13px;
	color:#212121;
	text-align:left;
	vertical-align:middle;
	width:24%;
}

.deposit_input{
	width:85%;
	height:35px;
	margin:10px 0;
	border:1px solid #ececec;
	font-size:11.5px;
	color:#212121;
}

.deposit_bnt02{
	width:200px;
	height:45px;
	background:#353b47;
	color:#ffffff;
	display:block;
	text-align:center;
	line-height:45px;
	margin:30px auto;
	font-size:14px;
	font-weight:600;
	border-radius:40px;
}
.deposit_bnt04{
	width:200px;
	height:45px;
	background:#353b47;
	color:#ffffff;
	display:inline-block;
	text-align:center;
	line-height:45px;
	margin:15px auto 0 auto;
	font-size:14px;
	font-weight:600;
    border-radius: 40px;
}
.deposit_bnt05{
	width:200px;
	height:45px;
	background:#353b47;
	color:#ffffff;
	display:inline-block;
	text-align:center;
	line-height:45px;
	margin:15px auto 30px auto;
	font-size:14px;
	font-weight:600;
    border-radius: 40px;
}
/*sub03_mostdeposit*/
.deposit_qr_box{
	width:85%;
	margin:0 auto;
	overflow:hidden;
	padding: 10px 0px 10px 0px;
}

.deposit_qr_box div{
	overflow:hidden;
	float:left;
}

.deposit_qr_box img{
	width:123px;
	height:123px;
	float:left;
	margin-right:20px;
}

.deposit_qr_box p{
	font-size:12px;
	color:#212121;
	line-height:180%;
}

.deposit_bnt03{
	width:170px;
	height:45px;
	background:#353b47;
	color:#ffffff;
	display:block;
	text-align:center;
	line-height:45px;
	font-size:14px;
	font-weight:600;
	margin-top:15px;
    border-radius: 40px;
}

/*sub03_krwwithdraw*/
.withdraw_btn{
	height:35px;
	margin-bottom:10px;
	border:1px solid #555555;
	font-size:12px;
	color:#ffffff;
	cursor:pointer;
	background:#555555;
	border-radius:3px;
}


/*sub03_sub01*/
.sub03_btn_01{
	background:#00bcd5;
	border-radius:5px;
	font-size:12px;
	color:#ffffff;
	display:block;
	height:40px;
	letter-spacing:-0.5px;
	text-align:center;
	line-height:40px;
	float:left;
	margin-right:5px;
	padding:0 8px;
}

.sub03_btn_02{
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	font-size:12px;
	color:#000000;
	display:block;
	height:40px;
	letter-spacing:-0.5px;
	text-align:center;
	line-height:40px;
	float:left;
	margin-right:5px;
	padding:0 8px;
}

.sub03_btn_03{
	background:#ffffff;
	border:1px solid #cccccc;
	border-radius:5px;
	font-size:12px;
	color:#000000;
	display:block;
	height:40px;
	letter-spacing:-0.5px;
	text-align:center;
	line-height:40px;
	float:left;
	margin-right:5px;
	padding:0 8px;
}

.sub03_btn_04{
	border:1px solid #ececec;
	font-size:12px;
	color:#212121;
	height:40px;
	letter-spacing:-0.5px;
	line-height:40px;
	float:right;
	background-image:url('../sub04/images/arrow.png');
	background-repeat:no-repeat; 
	background-position:95% 50%;
	background-size:8% auto;
	border-radius:5px;
	padding:0 8px;
}

/*sub04_login*/
.login_box{
	width:400px;
	padding:60px 0;
	margin:80px auto;
	background:#313846;
	border-radius:3px;
}

.login_title{
	color:#00bcd5;
	font-size:28px;
	text-align:center;
	font-weight:300;
}

.login_input_box{
	width:300px;
	margin:0 auto;
	overflow:hidden;
	padding-top:30px;
}

.login_input_box02{
	width:300px;
	margin:0 auto;
	overflow:hidden;
}

.login_input{
	width:300px;
	height:40px;
	margin-bottom:10px;
	border-radius:3px;
	background:#ffffff
	color:#ffffff;
	font-size:13px;
}

.login_btn01{
	font-size:12px;
	color:#ffffff;
}

.login_btn02{
	width:49%;
	height:45px;
	color:#ffffff;
	background:#4e7ed0;
	border-radius:3px;
	font-size:15px;
	float:left;
	cursor:pointer;
}

.login_btn03{
	width:49%;
	height:45px;
	color:#ffffff;
	background:#555555;
	font-size:15px;
	float:right;
	cursor:pointer;
	border-radius:3px;
}
.login_btn04{
	width:50%;
	height:45px;
	color:#444444;
	font-size:15px;
	background:#dddddd;
	cursor:pointer;
	border-radius:3px;
}

.login_btn05{
	width:50%;
	height:45px;
	color:#ffffff;
	background:#f8981d;
	font-size:15px;
	cursor:pointer;
}

.login_popup{
	width:400px;
	margin:0 auto;
	padding:30px 0;
	border:1px solid #ececec;
}

.login_popup_inner{
	border-bottom:1px solid #ececec;
	padding-bottom:20px;
}


.login_popup_btnbox{
	width:100px;
	margin:0 auto;
	overflow:hidden;
	padding-top:20px;
}

.login_popup_btn{
	width:100%;
	height:35px;
	color:#444444;
	background:#dddddd;
	font-size:13px;
	cursor:pointer;
}

.login_do{
	width:300px;
	background:rgba(255, 255, 255, 0.1);
	height:60px;
	line-height:60px;
	margin:0 auto;
	text-align:center; 
	font-size:1.2em;
	color:#ffffff;
}


/*sub04_join*/
.join_box {
    width: 600px;
    padding: 60px 0;
    margin: 80px auto;
    background: #313846;
    border-radius: 3px;
}

.join_title{
    color: #00bcd5;
    font-size: 28px;
    text-align: center;
}

.join_table{
	width:520px;
	margin:30px auto 0;
}

.n_join_table{
	width:100%;
	margin:30px auto 0;
}

.join_tr01{
	border-top:2px solid #4e7ed0;
}

.join_tr02{
	border-bottom:1px solid #ececec;
}

.join_td01{
	font-size:13px;
	text-align:right;
	padding-right:5%;
	color:#ffffff;
	vertical-align:middle;
}

.n_join_td01{
	width:25%;
	font-size:13px;
	text-align:right;
	padding-right:5%;
	color:#212121;
	vertical-align:middle;
}

.join_td06{
	font-size:13px;
	text-align:right;
	padding-right:5%;
	color:#212121;
	vertical-align:middle;
}

.join_td02{
	text-align:left;
	vertical-align:middle;
}

.join_td03{
	font-size:12px;
	color:#d96400;
	padding-bottom:15px;
}

.join_td04{
	font-size:12px;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
}

.join_td04 a{
	color:#ffffff;
}

.join_td05{
	text-align:left;
	vertical-align:middle;
}

.join_input01{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	height:35px;
	margin:15px 0;
	width: 60%;
	border-radius:3px;
}

.join_input02{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	height:35px;
	margin:15px 2px 15px 0;
	border-radius:3px;
	width: 60%;
}

.join_input03{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	width:98%;
	height:35px;
	margin:15px 0;
	background:#f6f6f6;
	border-radius:3px;
}

.join_input04{
	color:#ffffff;
	font-size:12px;
	height:35px;
	background:#555555;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
}

.join_input05{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	width:60%;
	height:35px;
	margin:15px 0;
	border-radius:3px;
}

.join_input06{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	height:35px;
	margin:15px 0;
	border-radius:3px;
}

.join_input07{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	height:35px;
	margin:15px 2px 15px 0;
	width: 60%;
	border-radius:3px;
}
.join_input08 {
    font-size: 12px;
    height: 35px;
    border-radius:3px;
    background-color: #4e7ed0;
    color: #fff;
    padding-bottom: 3.5px;
	cursor:pointer;
}
.join_a:hover{
	text-decoration:underline;
}

.join_btn_box{
	width:60%;
	margin:30px auto;
	overflow:hidden;
}

.join_btn01{
	width:48%;
	height:45px;
	background:#4e7ed0;
	color:#ffffff;
	cursor:pointer;
	float:left;
	border-radius:3px;
}

.join_btn02{
	width:48%;
	height:45px;
	background:#777777;
	color:#ffffff;
	cursor:pointer;
	float:right;
	border-radius:3px;
}

.btn_id_check{
	width: 30%;
	height: 37px;
	border-radius:3px;
	background-color: #4e7ed0;
	color: #ffffff; 
	cursor:pointer;
}

/*sub04_password*/
.password_btn_box{
	width:190px;
	margin:0 auto;
	overflow:hidden;
	padding-top:30px;
}

.password_btn{
	width:100%;
	height:45px;
	color:#444444;
	background:#dddddd;
	font-size:15px;
	float:right;
	cursor:pointer;
	border-radius:3px;
}

/*sub04_sub01*/
.edit_input01{
	border:1px solid #cccccc;
	color:#212121;
	font-size:12px;
	width:90%;
	height:35px;
	margin:15px 0;
	background:#f6f6f6;
}

.edit_btn_box{
	width:190px;
	margin:0 auto;
	overflow:hidden;
	padding-top:30px;
}

.edit_btn{
	width:100%;
	height:45px;
	color:#ffffff;
	background:#4e7ed0;
	font-size:15px;
	float:right;
	cursor:pointer;
	border-radius:3px;
}

.sub04_title{
	text-align:center;
	font-size:28px;
	color:#212121;
	padding:0 0 10px;
}



/*sub04_sub02*/
.sub04_title01{
	text-align:center;
	font-size:13px;
	color:#666666;
	line-height:170%;
}

.sub04_title01 span{
	color:#eb0000;
}

.sub04_table01{
	width:80%;
	border:1px solid #ececec;
	margin:30px auto;
}

.sub04_table01_tr{
	border:1px solid #ececec;
}

.sub04_table01_td01{
	background:#8bb0ff;
	color:#ffffff;
	font-size:13px;
	text-align:center;
	vertical-align:middle;
}

.sub04_table01_td02{
	background:#0c55a7;
	color:#ffffff;
	font-size:13px;
	text-align:center;
	vertical-align:middle;
}

.sub04_table01_td03{
	background:#5581d9;
	color:#ffffff;
	font-size:13px;
	text-align:center;
	vertical-align:middle;
	width:25%;
}

.sub04_table01_td04{
	color:#212121;
	font-size:13px;
	text-align:left;
	vertical-align:middle;
	padding:15px 0 15px 70px;
	line-height:170%;
}

.sub04_table01_td05{
	color:#eb0000;
	font-size:13px;
	text-align:center;
	vertical-align:middle;
}

.sub04_table01_input{
	color:#ffffff;
	font-size:14px;
	border-radius:3px;
	background:#353b47;
	width:110px;
	height:40px;
	cursor:pointer;
}

.sub04_table02_tr01{
	border:1px solid #ececec;
	background:#cccccc;
}

.sub04_table02_tr02{
	border:1px solid #ececec;
}

.sub04_table02_tr03{
	border:1px solid #ececec;
	background:#f7f7f7;
}

.sub04_table02_td{
	font-size:13px;
	text-align:center;
	vertical-align:middle;
	padding:15px 0;
	border:1px solid #ececec;
}

/*sub04_sub03*/
.alarm_td{
	font-size:13px;
	color:#212121;
	padding:15px 0;
	text-align:left;
}

/*sub04_sub05*/
.sub04_sub05{
	font-size:13px;
	text-align:center;
	line-height:180%;
	color:#212121;
	padding:15px 0;
}

.sub04_sub05_span01{
	font-size:16px;
}

.sub04_sub05_span02{
	font-weight:600;
}


/*sub05_board01_list*/
.sub05_search{
	width:100%;
	overflow:hidden;
	padding-top:30px;
}

.sub05_search01{
	border:1px solid #cccccc;
	font-size:12px;
	color:#212121;
	width:80px;
	height:35px;
	line-height:35px;
	background-image:url('../sub04/images/arrow.png');
	background-repeat:no-repeat; 
	background-position:93% 50%;
	background-size:14% auto;
	float:left;
	margin-right:5px;
	border-radius:3px;
}

.sub05_search02{
	border:1px solid #cccccc;
	font-size:12px;
	color:#212121;
	width:210px;
	height:35px;
	line-height:35px;
	float:left;
	margin-right:5px;
	border-radius:3px;
}

.sub05_search03{
	background:#777777;
	font-size:12px;
	color:#ffffff;
	width:80px;
	height:35px;
	line-height:35px;
	float:left;
	cursor:pointer;
	border-radius:3px;
}

.list_table{
	width:100%;
	margin:10px 0;
}

.list_tr01{
	background:#4e7ed0;
}

.list_tr02{
	border-bottom:1px solid #cccccc;
}

.list_td01{
	color:#ffffff;
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:8%;
}

.list_td02{
	color:#ffffff;
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:60%;
}

.list_td03{
	color:#ffffff;
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:10%;
}

.list_td04{
	color:#ffffff;
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:22%;
}

.list_td05{
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:8%;
}

.list_td06{
	font-size:13.5px;
	text-align:left;
	padding:15px 0 15px 30px;
	width:60%;
}

.list_td07{
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:10%;
}

.list_td08{
	font-size:13.5px;
	text-align:center;
	padding:15px 0;
	width:22%;
}

.list_td05 a, .list_td08 a, .list_td09 a{
	color:#999999;
}

.list_td06 a{
	color:#212121;
}

.list_btn{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.list_btn01{
	width:80px;
	height:35px;
	background:#444444;
	color:#ffffff;
	font-size:13px;
	cursor:pointer;
	border-radius:3px;
}

.list_btn02{
	width:80px;
	height:35px;
    background: #00bcd5;
	color:#ffffff;
	font-size:13px;
	float:right;
	cursor:pointer;
	border-radius:3px;
}

/*sub05_board01_view*/
.view_table{
	width:100%;
}

.view_tr01{
	border-top:2px solid #0d55a7;
	border-bottom:2px solid #0d55a7;
}

.view_tr02{
	border-bottom:1px solid #dddddd;
}

.view_td01{
	font-size:16px;
	color:#212121;
	text-align:center;
	padding:3% 5%;
	font-weight:600;
}

.view_td02{
	font-size:12px;
	color:#666666;
	text-align:left;
	padding:2% 5%;
}

.view_td03{
	font-size:12px;
	color:#666666;
	text-align:right;
	padding:2% 5%;
}

.view_td04{
	font-size:13px;
	color:#212121;
	text-align:left;
	padding:3% 5%;
	line-height:190%;
}

.view_td04 img{
	width:90%;
	height:auto;
	margin:0 auto;
}

.view_btn{
	width:80px;
	height:35px;
	background:#ffffff;
	border:1px solid #444444;
	color:#212121;
	font-size:13px;
	cursor:pointer;
}

/*sub05_board01_write*/
.write_table{
	width:100%;
}

.write_tr01{
	border-top:2px solid #4e7ed0;
	border-bottom:1px solid #cccccc;
}

.write_tr02{
	border-bottom:1px solid #cccccc;
}

.write_td01{
	font-size:13.5px;
	color:#212121;
	text-align:right;
	padding:2% 5% 2% 0;
	width:20%;
	vertical-align:middle;
}

.write_td02{
	text-align:left;
	padding:2% 10% 2% 0;
}

.write_input01{
	width:100%;
	height:35px;
	border:1px solid #cccccc;
	font-size:12px;
	color:#212121;
}

.write_input02{
	width:100%;
	height:200px;
	border:1px solid #cccccc;
	font-size:12px;
	color:#212121;
}

.write_btn{
	width:100%;
	margin-top:20px;
	text-align:center;
}

.write_btn01{
	width:80px;
	height:35px;
	display:inline-block;
	background:#444444;
	color:#ffffff;
	font-size:13.5px;
	line-height:35px;
	border-radius:3px;
}

.write_btn02{
	width:80px;
	height:35px;
	display:inline-block;
	background:#4e7ed0;
	color:#ffffff;
	font-size:13.5px;
	line-height:35px;
	border-radius:3px;
}


.write_input03{
	width:100%;
	height:35px;
	border:1px solid #cccccc;
	font-size:12px;
	color:#212121;
	background-image:url('../sub04/images/arrow.png');
	background-repeat:no-repeat; 
	background-position:96% 50%;
	background-size:2.5% auto;
}


/*sub06*/
.sub06_text{
	font-size:13px;
	color:#212121;
	line-height:180%;
	padding:30px 0;
}

.sub06_text span{
	font-size:16px;
}


/*sub04_emailok*/
.emailok{
	font-size:12px;
	text-align:center;
	margin:30px 0;
	line-height:180%;
}


/*sub04_popup*/
.popup{
	margin:8px;
	width:484px;
	height:500px;
}

.popup_box01{
	overflow:hidden;
	border:1px solid #cccccc;
}

.popup_box02{
	overflow:hidden;
}

.qr_box01{
	float:left;
	padding:20px;
}

.qr_box01 img{
	width:200px;
	height:200px;
}

.qr_box02{
	float:left;
	padding:70px 0;
}

.qr_box_text01{
	font-size:14px;
	color:#212121;
	line-height:25px;
}

.qr_box_text02{
	font-size:17px;
	font-weight:900;
	color:#0d55a7;
	line-height:25px;
}

.popup_text{
	float:left;
	font-size:16px;
	color:#212121;
	line-height:30px;
	padding:20px 0 0 20px;
	font-weight:900;
}

.popup_input{
	float:left;
	border:1px solid #888888;
	margin:20px 0 0 20px;
	height:30px;
	font-size:14px;
	color:#212121;
}

/*sub04_sub06*/
.form_box{
}

.form_img{
	width:300px;
	height:auto;
	margin:0 auto;
}

.form_img img{
	width:300;
	height:auto;
	border-radius:10px;
}

.form_text_box{
	margin:0 auto;
	text-align:center;
}

.form_text01{
	color:#212121;
	font-size:15px;
	padding:15px 0 10px;
}

.form_text02{
	color:#777777;
	font-size:13px;
	line-height:180%;
}

.form_input{
	font-size:12px;
	color:#212121;
	padding:0;
	margin-top:30px;
}

.form_line{
	width:100%;
	height:1px;
	background:#ececec;
	margin:30px 0;
}

.n_form_line{
	width:100%;
	height:1px;
	background:#ececec;
	margin:10px 0 30px;
}

/*su04 _ sub02*/
.certify{
	width:100%;
	overflow:hidden;
	margin-bottom:50px;
}
.certify_title{
	color:#212121;
	font-size:25px;
	font-weight:900;
	text-align:right;
	float:left;
	width:152px;
}

.certify_title_span01{
	font-size:12px;
	color:#ff0000;
}

.certify_title_span02{
	font-size:12px;
	color:#26c900;
}

.certify_revel{
	width:60px;
	height:60px;
	border:3px solid #212121;
	border-radius:30px;
	text-align:center;
	line-height:54px;
	background:#4bcaff;
	font-size:22px;
	color:#ffffff;
	font-weight:900;
	float:left;
	margin:0 40px;
}

.certify_box01{
	background:rgba(75, 202, 255, 0.1);
	overflow:hidden;
	padding:10px;
}

.certify_box02{
	overflow:hidden;
	padding:10px;
}

.certify_text01{
	font-size:20px;
	color:#212121;
	font-weight:900;
	margin-bottom:10px;
}

.certify_text02{
	font-size:13px;
	color:#212121;
	line-height:160%;
}

.certify_span01{
	font-size:14px;
	font-weight:bold;
	color:#0054ff;
}

.certify_span02{
	font-size:15px;
}

.certify_span03{
	font-size:14px;
	font-weight:bold;
	color:#ff0000;
}

/*sub04_sub02*/

.sub04_box01{
	width:48%;
	height:640px;
	float:left;
	padding:5px;
	margin-right:4%;
	border:1px solid #888888;
	background-color:#f2f2f2;
}

.sub04_box02{
	width:48%;
	height:640px;
	float:left;
	padding:5px;
	border:1px solid #888888;
	background-color:#f2f2f2;
}

.sub04_box_inner{
	height:100%;
	padding:20px;
	border:2px solid #e9e9e9;
	background-color:#ffffff;
}

.sub04_box_title{
	padding-bottom:5px;
	border-bottom:2px solid #e9e9e9;
	overflow:hidden;
}

.sub04_box_title > p{
	font-size:20px;
	font-weight:600;
}

.sub04_box_title > p > span{
	float:right;
	font-size:13px;
	color:#00bcd5;
}

.sub04_box_content{
	padding:5px 0px 5px 0px;
	text-align:center;
}

.sub04_box_level{
	padding-bottom:2%;
	font-size:28px;
	font-weight:600;
	color:#1f4c94;
}

.sub04_box_sTitle{
	padding-bottom:2%;
	font-size:18px;
	font-weight:600;
	color:#666666;
}

.sub04_box_text{
	font-size:13px;
	color:#777777;
}

.sub04_box_text > span{
	padding-top:10px;
	font-size:14px;
	color:#654ee0;
}

.sub04_box_text > strong{
	color:#c60000;
}

.sub04_box_bt{
	border-top:2px solid #e9e9e9;
	padding-top:15px;
	text-align:center;
}



/*main _ sub02*/
.main_table{
	width:100%;
	margin-bottom:40px;
}

.main_table tr:hover {
	background:#dfdfdf;
}

.main_table tr {
	border:1px solid #999999;
	height:45px;
}

.main_table tr:first-child {
	border:1px solid #203670;
}
.main_table tr:nth-child(even) {
	background:#f4f5f8;
}
.main_table tr:first-child:hover {
	background:#203670;
}


.main_td00{
	background:#203670;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
	vertical-align:middle;
	border:none;
}

.main_td01{
    text-align: right;
	vertical-align:middle;
	width:30px;
}

.main_td02{
	border-bottom:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
    color: #212121;
    font-size: 13px;
    text-align: center;
	vertical-align:middle;
}

.main_td03{
	border-bottom:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
    color: #212121;
    font-size: 13px;
    text-align: right;
	vertical-align:middle;
	padding-right:30px;
}

.main_td04{
	border-bottom:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
    font-size: 13px;
    text-align: right;
	vertical-align:middle;
	padding-right:40px;
}

.main_td05{
	border-bottom:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
    text-align: center;
	vertical-align:middle;
}

.main_td06{
	border-bottom:1px solid #aaaaaa;
    font-size: 12px;
	font-weight:600;
    text-align: right;
	vertical-align:middle;
	padding-right:5px;
}

.main_td07{
	border-bottom:1px solid #aaaaaa;
    font-size: 12px;
	font-weight:600;
    text-align: left;
	vertical-align:middle;
}

.main_td_btn01{
	color:#0d55a7;
	text-align:center;
	border:1px solid #203670;
	border-radius:2px;
	padding:5px 10px;
}

.main_td_btn02{
	color:#0d55a7;
	text-align:center;
	border:1px solid #203670;
	border-radius:2px;
	padding:5px 10px;
}

.main_title{
	margin-top:100px;
}



/*sub04 _ sub09*/
.abox{
	width:100%;
}


.abox01{
	width:30%;
	border:1px solid #f1f1f1;
	border-radius:5px;
	padding:0 15px;
	float:left;
	margin:0 0 25px 0;
	overflow:hidden;
	margin-right:25px;
	height:110px;
}

.abox02{
	width:30%;
	border:1px solid #f1f1f1;
	border-radius:5px;
	padding:0 15px;
	float:left;
	margin-right:25px;
	margin-bottom:25px;
	overflow:hidden;
	height:110px;
}

.abox_krw{
	border-top:6px solid #003d72;
}

.abox_most{
	border-top:6px solid #02a8e2;
}

.abox_btc{
	border-top:6px solid #f89f34;
}

.abox_ltc{
	border-top:6px solid #8d8d8d;
}

.abox_dash{
	border-top:6px solid #0174b6;
}

.abox_all{
	border-top:6px solid #0174b6;
}

.t_krw{
	color:#555555;
	font-size:19px;
	padding-top:15px;
}


.t_krw02{
	color:#555555;
	font-size:19px;
}


.t_most{
	color:#555555;
	font-size:19px;
}

.t_btc{
	color:#f89f34;
	font-size:19px;
}

.t_ltc{
	color:#8d8d8d;
	font-size:19px;
}

.t_dash{
	color:#0174b6;
	font-size:19px;
}

.abox_title{
	font-size:16px;
	font-weight:600;
	line-height:40px;
}

.abox_text{
	font-size:20px;
	line-height:40px;
}

.abox_title02{
	float:left;
	font-size:16px;
	font-weight:600;
	line-height:80px;
}

.abox_text02{
	float:right;
	font-size:20px;
	line-height:80px;
}

.n_btn01{
	width:100px;
	height:30px;
	border:1px solid #cccccc;
	background:#ffffff;
	color:#666666;
	font-size:11.5px;
	cursor:pointer;
	margin-bottom:5px;
	border-radius:3px;
}

.sub09_title{
	font-size:28px;
	color:#212121;
	padding:0 0 10px;
}



/*sub07_sub01*/
.sub07_inner{
	width:100%;
	border-top:2px solid #0d55a7;
	border-bottom:1px solid #cccccc;
	padding-top:30px;
}

.sub07_inner01{
	width:100%;
	overflow:hidden;
	padding-bottom:30px;
}

.sub07_box{
	width:24%;
	height:140px;
	margin:0 0.5%;
	border:1px solid #dedede;
	background:#f4f4f4;
	float:left;
	box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);
}

.sub07_box table{
	width:98%;
	height:70px;
	margin:15px auto 0;
	border:1px solid #dedede;
	background:#ffffff;
}

.sub07_box td{
	vertical-align:middle;
	text-align:center;
}

.sub07_box p{
	font-size:14px;
	font-weight:bold;
	color:#101010;
	text-align:center;
	line-height:170%;
	padding-top:2%;
}

.sub07_box span{
	font-size:12px;
	font-weight:bold;
	color:#1d3b84;
	text-align:center;
}

.op06{
	opacity:0.6;
}
.n_select01{
    border: 1px solid #ececec;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    width: 150px;
    height: 35px;
    line-height: 35px;
    background-image: url(../sub04/images/arrow.png);
    background-repeat: no-repeat;
    background-position: 93% 50%;
    background-size: 8% auto;
    border-radius: 5px;
}

.n_deal_btn{
	float:right;
	margin-bottom:5px;
}

.n_deal_btn input{
	background:#353b47;
	width:80px;
	height:30px;
	border-radius:3px;
	color:#ffffff;
	font-size:13px;
	font-weight:600;
	cursor:pointer;
}

.snb{
	width: 165px;
    height: 735px;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 105px 0px 0 460px;
}


.box_01{
	width:360px;
	margin-right:5px;
	float:left;
}

.box_02{
	width:300px;
	margin-right:0px;
	float:left;
}

.box_02_title{
font-size:15px;
color:#212121;
}

.box_01 table, .box_02 table{
width:100%;
}

.box_01 tr, .box_02 tr{
	height:45px;
}

.box_01 td{
text-align:center;
vertical-align:middle;
font-size:12px;
border:1px solid #acacac;
}

.box_01 td:nth-child(1), .box_01 td:nth-child(5){
width:14%;
}

.box_01 td:nth-child(2), .box_01 td:nth-child(3), .box_01 td:nth-child(4){
width:24%;
}

.box_02 td{
text-align:center;
vertical-align:middle;
font-size:11.5px;
border:1px solid #acacac;
}

.box_02 td:nth-child(1){
width:12%;
}

.box_02 td:nth-child(2){
width:24%;
}

.box_02 td:nth-child(3), .box_02 td:nth-child(4){
width:33%;
}

.box_01 tr:first-child td, .box_02 tr:first-child td{
text-align:center;
font-weight:400;
border:none;
background:#555555;
color:#ffffff;
}

.box_01 td:nth-child(2), .box_01 td:nth-child(3), .box_01 td:nth-child(4), .box_02 td:nth-child(3), .box_02 td:nth-child(4){
text-align:right;
padding-right:3px;
}

.back_blue tr:nth-child(odd){
    background: #f1f6ff;
}

.back_red tr:nth-child(odd){
    background: #fef4ee;
}

.graph_01{
	    width: 530px;
    margin-right: 5px;
height:177px;
margin-bottom:5px;
background:#cccccc;
}

















